body{
    margin:0;
    background:#F8F3EC;
     font-family: "Cormorant Garamond", serif;
     color: #2E1A1A;
}

.navbar{
    background:#340116;
    justify-content: space-between;
    align-items: center;
    padding: 5px 80px;
    display:flex;
}
.logo img{
    width:auto;
    height:100px;
}

nav a{
    text-decoration: none;
    color:white;
    margin-left:40px;
    font-size: 18px;
}

nav a:hover{
    border-bottom:2px solid #D6B27A;
}

.Banner{
    background-image: url("image/velvet\ bliss\ banner.png");
    height:630px;
    background-size: cover;
    background-position: center;
}

.orderButton{
    color:#D6B27A;
    display: inline-block;
    padding:15px 40px;
    text-decoration: none;
    border: 1px solid #D6B27A;
    border-radius: 5px;
    background:#330414 ;
    margin-left: 300px;
    margin-top: 500px;
}

.orderButton:hover{
    background: #D6B27A;
    color:#330414;
}

.About{
    width: 75%;
    margin:100px auto;
    text-align: center;
}

.About h2{
    font-size: 50px;
    color:#3c0517;
    margin-bottom: 10px;
}

.borderline{
   border:2px;
   width:180px;
   height: 2px;
   background:#D6B27A;
   margin:0px auto 40px;
}

.About p{
    line-height: 2;
    font-size: 18px;
    color:#555;
}

.bottomline{
    border-bottom:1px solid #D6B27A;

}

.recommended{
    text-align: center;
    padding-bottom: 100px;
    margin:auto;
    width:90%;
}

.recommended h2{
    font-size:50px;
    color:#3c0517;
    margin-bottom:10px;
}

.container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:35px;
    margin-top:50px;
}

.CakeContainer{
    background:white;
    border: 1px solid #D6B27A;
    border-radius:15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.CakeContainer img{
    width:100%;
    height:300px;
    object-fit:cover;
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
}

.CakeContainer:hover{
    transform: scale(1.03);
}

.CakeContainer h3{
    text-align: center;
    color:#3c0517;
    margin:10px;
    font-size:20px;
}

.CakeContainer p{
    line-height: 1.5;
    color:#555;
}

.CakeContainer a{
    text-decoration: none;
}

footer{
    background:#330414;
    text-align: center;
    padding:30px;
}

footer img{
    width:auto;
    height:90px;
    margin-bottom:20px;
}

footer p{
    color:white;
}

.menu{
    width:90%;
    margin: 50px auto;
    grid-template-columns:3fr, 1fr;
    gap:40px;
    align-items:start;
}

.CakeMenu h1{
    text-align: center;
    color:#3c0517;
    font-size: 60px;
    margin-bottom: 10px;
}

.menuLayout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,auto);
    gap:40px;
}

.menuContainer{
    background:white;
    border:1px solid #D6B27A;
    text-align:center;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);

}

.menuContainer img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
}

.menuContainer h3{
    color:#3c0517;
    margin:10px;
    font-size:22px;
}

.menuContainer{
     color:#3c0517;
    margin-bottom: 10px;
    font-size:20px;
}

.menuContainer button{
    background:#340116;
    color:white;
    border:none;
    
}



