body{
    margin:0;
    background:#F8F3EC;
     font-family: "Cormorant Garamond", serif;
     color: #2E1A1A;
}

.navbar{
    background:#340116;
    justify-content: space-between;
    align-items: center;
    padding: 5px 80px;
    display:flex;
}
.logo img{
    width:auto;
    height:100px;
}

nav a{
    text-decoration: none;
    color:white;
    margin-left:40px;
    font-size: 18px;
}

nav a:hover{
    border-bottom:2px solid #D6B27A;
}

.Banner{
    background-image: url("image/velvet\ bliss\ banner.png");
    height:630px;
    background-size: cover;
    background-position: center;
}

.orderButton{
    color:#D6B27A;
    display: inline-block;
    padding:15px 40px;
    text-decoration: none;
    border: 1px solid #D6B27A;
    border-radius: 5px;
    background:#330414 ;
    margin-left: 300px;
    margin-top: 500px;
}

.orderButton:hover{
    background: #D6B27A;
    color:#330414;
}

.About{
    width: 75%;
    margin:100px auto;
    text-align: center;
}

.About h2{
    font-size: 50px;
    color:#3c0517;
}

.borderline{
   border:2px;
   width:180px;
   height: 2px;
   background:#D6B27A;
   margin:20px auto 40px;
}