body{
    background:#F8F3EC;
     font-family: "Cormorant Garamond", serif;
     color: #2E1A1A;
}

.navbar{
    background:#4A001F;
    justify-content: space-between;
    align-items: center;
    padding: 5px 80px;
    display:flex;
}

.logo img{
    width:auto;
    height:90px;
}

nav a{
    text-decoration: none;
    color:white;
    margin-left:35px;
    margin-right: 20px;
}